@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo(a) ao<br /> sistema de cadastro de usuários! </h1>
    <p>Neste sistema você poderá adicionar usuários, editar usuários e analisar relatório de usuários de forma prática e rápida.</p>
</div>
